.item-list ul {
   list-style: none;
   display: inline;
   
}

li.day {
    font-size: xx-large;
    float:right;
    position: relative;
    top: -6px;
    left: -66px;
}

li.month, li.time {
    position: absolute;
    left: 46px;
    line-height: 12px;
    display: block;
    top: 8px;
}

li.time {
   top: 20px;
   
}

li.time {
    font-weight:bold;
}

tr.hidden {
    display: none;
}

ul.concert-list-date {
   height: 30px;
   padding-left: 0px;
   position: relative;
}

td .item-list {
   height: 50px;
}

.form-item-concert-admin-standard-type .description {
   width: 300px;
}

.form-item-concert-admin-standard-type {
   float: left;
   width: 300;
   margin-right: 48px !important;
}

.form-item-concert-admin-standard-type select {
   width: 300px;
}

.form-item-concert-admin-standard-format select {
   width: 300px;
}